
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 20px; /* Поля вокруг текста */
    background: darkgrey; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
.main {

    background-image: url("/public/images/sales/1613586574_33-p-foni-dlya-finansovikh-prezentatsii-40.jpg");
    background-size: 100%;
    padding: 200px;
    text-align: center;
    height: 850px;
}
.aut {

    background-image: url("/public/images/sales/1613553900_270-p-delovoi-fon-dlya-prezentatsii-291.jpg");
    background-size: 100%;
    padding: 100px;
    text-align: center;
    color: blue;
    font-size: 20px;
    height: 850px;



}